{% props
    label = "",
    name = "",
    value = "",
    target = "",
    isChecked = false,
%}

{% set baseFormInputRadio = cva({
    base: 'input flex gap-4 items-center'
}) %}

<label class="{{ baseFormInputRadio.apply({}, attributes.render('class')) | tailwind_merge }}">
    <input checked="{{ isChecked }}" data-action="change->radio#display" class="input-radio" data-radio-target="{{ target }}" type="radio" id="{{ label }}" name="{{ name }}" value="{{ value }}" />
    <span class="font-bold text-[14px] tracking[-0.25px] text-neutral-darkest">{{ label }}</span>
</label>
