{% props
    size = 'large',
    autocomplete = "off",
    value = 0,
    key = 0
%}

{% set baseCounter = cva({
    base: 'flex bg-neutral-light',
    variants: {
        size: {
            small: 'w-[96px] h-[32px]',
            large: 'w-[120px] h-[48px]',
        },
    }
}) %}

<div class="{{ baseCounter.apply({size}, attributes.render('class')) | tailwind_merge }}">
    <twig:BaseCounterButton
        data-action="live#action"
        data-live-action-param="decrease"
        data-live-key-param="{{ key }}"
        data-live-quantity-param="{{ value }}"
    >
        -
    </twig:BaseCounterButton>
    <twig:BaseCounterValue value="{{ value }}" />
    <twig:BaseCounterButton
        data-action="live#action"
        data-live-action-param="increase"
        data-live-key-param="{{ key }}"
        data-live-quantity-param="{{ value }}"
    >
        +
    </twig:BaseCounterButton>
</div>
