<twig:BaseLayout>
    <header class="flex flex-col gap-4 mb-[-96px] sm:gap-8 md:gap-20 md:mb-[-64px]">
        <twig:BaseHeaderMenu>
            <twig:block name="navigation">
                <twig:NavigationDialog />
            </twig:block>
            <twig:block name="cart">
                <twig:CartDialog />
            </twig:block>
        </twig:BaseHeaderMenu>
        <twig:BaseButtonBack />
    </header>
    <main>
        <twig:BaseLayout class="md:gap-[160px]">
            <div class="flex flex-col gap-[88px] sm:gap-[120px] md:gap-[160px]">
                <twig:BaseProductDetailCard
                    productId="{{ product.id }}"
                    name="{{ product.name }}"
                    category="{{ product.category.name }}"
                    isNew="{{ product.isNew }}"
                    sourceImageLarge="{{ product.image.large }}"
                    sourceImageMedium="{{ product.image.medium }}"
                    sourceImageSmall="{{ product.image.small }}"
                    description="{{ product.description }}"
                    price="{{ product.price }}"
                />
                <twig:BaseProductDetailInformation
                    feature="{{ product.feature }}"
                    includes="{{ product.includes }}"
                />
                <twig:BaseProductDetailGallery
                    gallery="{{ product.gallery }}"
                />
            </div>
            <twig:BaseProductDetailOther products="{{ product.others }}" />
            <twig:BaseNavigationCategory />
            <twig:BaseAbout />
        </twig:BaseLayout>
    </main>
    <twig:BaseFooter />
</twig:BaseLayout>
